$basic-font: AvenirNextCyr, sans-serif;

$primary-color: #D02344;
$text-color: #262626;
$background-color: #ebebeb;
$document-background-color: #ffffff;

$is-hover: "(hover: hover) and (pointer: fine)";

$tablet: "screen and (min-width: 768px)";
$medium-mobile: "screen and (min-width: 480px)";
$min-width: 320px;